body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cb1f1f;
    text-align: center;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    text-align: justify;
    line-height: 1.5;
}

.contact-info {
    text-align: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #131314;
}

.media-sosial {
    display: flex;
}
